.pfp {
    background-color: #000;
    border: 4px solid #000;
}

.pgp {
    background-color: #000;
    color: #e76517 !important;
}

body, html{
    background-color: #0f0f0f;
}

.navbar-brand {
    color: #000 !important;
}

.redteam {
    color: #e74919 !important;
}

.alt-text {
    color: #b2aca2 !important;
}

li,
p,
.left-alt,
.right-alt {
    color: #b2aca2 !important;
}

div#page-content.profile-content span.disxlaimer3 a {
    border-bottom: 0px none #fff;
}

#profile-bio a,
.profile-content ul li a,
#page-content.profile-content a {
    border-bottom: 1px dashed #000;
}

#profile-bio a:hover,
.profile-content ul li a:hover,
#page-content.profile-content a:hover {
    border-bottom: 1px dotted #000;
}

.profile-content .post h2{
    color: #dc7224 !important
}

.ctosName, .ctosStatus, .ctosOccupation{
    background-color: #000;
}

body, html, div, h2, .center, ul, #profile-bio a, .profile-content ul li a, #page-content.profile-content a, .ctosName, .ctosStatus, .ctosOccupation {
    color: #dc7224 !important
}

html body div.container-fluid div.inner-container div.row.no-gutters div#page-content div#profile-links p.float-right.view-map a.view-map {
    color: #d0cc05 !important;
}

html body div.container-fluid div.inner-container div.row.no-gutters div#page-content div#profile-links p.float-right.view-source a.view-source {
    color: #d0cc05 !important;
}

#page-content.profile-content ul span.alt-pad-x1 li a,
#page-content.profile-content ul span.alt-pad-x2 li a,
#page-content.profile-content ul span.alt-pad-x3 li a,
.project-header a {
    color: #d9770f !important;
}

div#page-content p#profile-bio a,
ul#tag-sidebar li a {
    color: #b2aca2 !important;
}
@media only screen and (max-width: 800px) {

    #profile-bio,
    .profile-content,
    #page-content {
        background: transparent !important;
        border-left: 0px transparent #0f0f0f;
    }
}

#profile-bio,
.profile-content,
#page-content {
    background: #0f0f0f;
    border-left: 1px solid #0f0f0f;
}

.container-fluid #map,
.container-fluid #map2 {
    border: 1px solid #121010;
    background: #1e1e1e;
}

#profile-bio a,
.profile-content ul li a,
#page-content.profile-content a {
    border-bottom: 1px dashed #606060;
}

html body div.container-fluid div.inner-container div.row.no-gutters div#page-content.profile-content strong,
html body div.container-fluid div.inner-container div.row.no-gutters div#sidebar ul#tag-sidebar.profile-sidebar li h6,
html body div.container-fluid div.inner-container div.row.no-gutters div#sidebar ul#tag-sidebar.profile-sidebar-options li h6,
#profile-username {
color: #dc7224 !important;
}

#sidebar {
    border-right: 0px none #000;
}

.bg-light {
    background-image: url("../../static/img/header.png") !important;
    background-repeat: repeat-y;
    background-position: right;
    background-color: #e74919 !important;
    font-size: 0px;
    border-bottom: 2px solid black;
    height: 40px;
    display: block !important;
}

#avatar-sidebar-ct {
    background: #0f0f0f !important;
}

.image-inline {
    border: 4px solid #555;
}

#tag-sidebar .count {
    color: #976a30 !important;
}

#nowpayments-donate{
    display: none;
}

#footer-image {
    background-image: url("../../static/img/header.png") !important;
    background-repeat: repeat-y;
    background-position: left;
    background-color: #e74919 !important;
    border-top: 2px solid black;
    height: 40px;
    margin-top: 22px;
    display: block;
}

.user-qr.large {
    filter: invert(100);
}

.alt-text-x2,
div#page-content.profile-content ul li span.center.alt-text-x2 a {
    color: #b2aca2 !important;
}